<button class="btn btn-danger deeleet" data-id="{{id}}" >Delete this award</button>

<button type="button" class="btn btn-primary edit-award-btn" data-toggle="modal" data-award-id="{{id}}" data-target="#edit-award-modal">Edit this award</button>