@import '~bootstrap/scss/bootstrap';


body {
  font-family: 'Kaushan Script', cursive;
  background-size: 100%;
  text-align: center;
  align-content: center;
  background-color: #C8BFB3;
}

button{
  border: none;
  background-color: #58c9c9;
}
#container {
  display: center;
}

.success {
  background-color: #61ffd3;
  color: #39a593;
}
.failure {
  background-color:  #CB8CBD;
  color: #db3f3f;
}
#message {
  font-size: 30px;
}